@media (prefers-color-scheme: dark) {
    :root{
        --primary-color:#dedede;
        --primary-background:#1c1c1c;
        --input-background:#1c1c1c;
        --secondary-background:#242424;
        --border:#191919;
        --danger-color:#b93c3c;
        --accent-color:#ff8915;
        --accent-secondary:#242424;
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --primary-color:#6a6a6a;
        --primary-background:#f3f2ef;
        --input-background:#f3f2ef;
        --secondary-background:#ffffff;
        --border: #e3e2e0;
        --danger-color:#b93c3c;
        --accent-color:#ff8915;
        --accent-secondary:#333333;
    }
}

.light{
    --primary-color:#6a6a6a;
    --primary-background:#f3f2ef;
    --input-background:#f3f2ef;
    --secondary-background:#ffffff;
    --border: #e3e2e0;
    --danger-color:#b93c3c;
    --accent-color:#ff8915;
    --accent-secondary:#333333;
}
.dark{
    --primary-color:#dedede;
    --primary-background:#1c1c1c;
    --input-background:#1c1c1c;
    --secondary-background:#242424;
    --border:#191919;
    --danger-color:#b93c3c;
    --accent-color:#ff8915;
    --accent-secondary:#242424;
}
body {
    background: var(--primary-background);
    color: var(--primary-color);
    display: block;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
input[type="number"]{
    appearance: textfield;
}
.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 5% auto 10px;
    align-content: center;
}
.popup {
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0px);
    box-shadow: 0px 0px 5px 1500px #0007;
    z-index: 1;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 15px;
    background: var(--secondary-background);
}
.half{
    width: 50%;
    margin: 10px;
}
.text-center{
    text-align: center;
}
.form-input {
    padding: 10px 15px;
    border: 1px solid var(--border);
    border-radius: 20px;
    margin: 5px;
    background: var(--input-background);
    color: var(--primary-color);
}
.btn {
    width: 100px;
    display: block;
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    text-align: center;
}
.btn-accent{
    background: var(--accent-color);
}
.btn-error {
    background: #b93c3c;
}
.btn-success {
    background: #3cb967;
}
.btn-secondary{
    background: var(--accent-secondary);
}
.btn-opaque{
    background: var(--primary-background);
}
.text-accent{
    color: var(--accent-color);
}
.text-error {
    color: #b93c3c;
}
.text-success {
    color: #3cb967;
}
.text-secondary{
    color: var(--accent-secondary);
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}
th{
    text-align: left;
}
td{
    padding: 10px 0px;
}
tbody tr:hover{
    opacity:0.6;
    cursor: pointer;
}
ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    font-style: italic;
}
.wrap{
    flex-wrap: wrap;
}
.text-danger{
    color: var(--danger-color);
}
.side_menu {
  position: fixed;
  top: 50%;
  height: 95%;
  width: auto;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  justify-content: space-between;
  left: 10px;
  transform: translateY(-50%);
  border-radius: 15px;
  background: var(--accent-secondary);
  border:1px solid var(--border);
}
.menu_item {
    padding: 10px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 0;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}

.popup label {
    width: 100%;
    display: flex;
    align-items: baseline;
}
label.color_label {
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50px;
    box-shadow: 0px 0px 4px #000;
    cursor: pointer;
}

label.drop_area {
    background-size: cover;
    outline: 2px dashed var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    outline-offset: 2px;
}
.drop_area>img {
    width: 100%;
    height: 100%;
}
.logo{
    margin-bottom: 20px;
    margin-right: 0px;
}
td[data-delete] {
    display: flex;
    justify-content: center;
    align-items: center;
}
td[data-delete] i{
    pointer-events: none;
}
@media (max-width: 1200px){ 
    .side_menu {
        position: fixed;
        top: 10px;
        width: 95%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px;
        justify-content: space-between;
        left: 50%;
        transform: translate(-50%);
        border:1px solid var(--border);
    }
    .container{
        margin:8% auto 10px;
        width: 95%;
    }
    .side_menu > div{
        display: inline-flex;
        margin-left: 20px;
    }
    .logo{
        margin-right: 20px;
        margin-bottom: 0px;
    }
}